.bpmn-viewer-container {
  height: 100vh;
  width: 100%;
}

.bpmn-viewer-container .react-bpmn-diagram-container {
  height: 100vh !important;
  width: 100%;
}

/* Target the canvas container created by bpmn-js */
.bpmn-viewer-container .djs-container {
  height: 100vh !important;
  width: 100% !important;
}

/* Ensure the SVG takes full height */
.bpmn-viewer-container .djs-container svg {
  height: 100vh !important;
  width: 100% !important;
}